.btn-shop{
    background: rgb(7, 111, 52);
    border: 6px solid rgba(50, 205, 68, 0.612);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
}
.btn-shop:hover{
    opacity: .8;
    background: rgb(7, 111, 52);
    border: 6px solid rgba(50, 205, 68, 0.612);
    color: #fff;
}