.removeCard{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
}

.playerDeckTitle{
    position: relative;
}
.playerDeckTitle::after{
     content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #facc15;
  margin: 8px auto 0;
}