.cardDino{
    width: 100%;
    height: 360px;
    border-radius: 8px;
     position: relative;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cardIconInfo{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 176, 105);
    color: var(--light, #fff);
    cursor: pointer;
    z-index: 100;
    font-size: 22px;
}
.cardIconInfo:hover{
    opacity: .9;
}

.cardFace{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
     width: 100%;
     height: 100%;
    transition: all 0.6s ease;
    padding: 24px;
}

.cardFront {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cardBack {
    transform: translateX(100%);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fliped .cardFront {
    transform: translateX(-100%);
}

.fliped .cardBack {
    transform: translateX(0);
}

.cardStats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}
.cardStat{
    width: 100%;
    padding: 8px;
    background-color: transparent;
    color: var(--color, #fefefe);
    display: flex;
    align-items: center;
    gap: 0.2rem;
}


.cardArena{
    height: 340px !important;
}

.cardShop {
    height: 300px;
}

.cardBattle {
    height: 160px;
}

.cardCpuDeck{
    height: 60px;
    background: url(../../../public/hero/textura-dino.webp);
    pointer-events: none;
}

@media (max-width: 576px){
    .cardStats{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}