*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.4) 60%), url(../../public/hero/jurassic-bg.webp);
    font-family: 'Archivo Black', sans-serif;
}
.title-1{
    font-size: 2.65rem;
    color: var(--light, #fefefe);
}
.text-center{
    text-align: center;
}

.btn{
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn--green{
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}
.btn--green:hover{
    background-color: #218838;
    border-color: #1e7e34;
    color: #fff;
}
.btn--red{
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}
.btn--red:hover{
    background-color: #c82333;
    border-color: #bd2130;
    color: #fff;
}

.light{
    color: var(--light, #fefefe);
}