*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.4) 60%), url(../../public/hero/jurassic-bg.webp);
    font-family: 'Passero One', sans-serif;
}

/* Scrollbar geral */
::-webkit-scrollbar {
  width: 10px;
}

/* Fundo (trilho) */
::-webkit-scrollbar-track {
  background: var(--tertiary-color);
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

/* Parte que você arrasta */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    var(--tertiary-color-medium),   /* verde selva */
    var(--primary-color)    /* verde escuro */
  );
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(63, 175, 108, 0.4);
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #4CD47F,
    #24543A
  );
  box-shadow: 0 0 12px rgba(76, 212, 127, 0.7);
}

.title-1{
    font-size: 2.65rem;
    color: var(--light, #fefefe);
}
.text-center{
    text-align: center;
}

.btn{
     padding: 14px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
}

.btn--green{
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}
.btn--green:hover{
    background-color: #218838;
    border-color: #1e7e34;
    color: #fff;
}
.btn--red{
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}
.btn--red:hover{
    background-color: #c82333;
    border-color: #bd2130;
    color: #fff;
}

.light{
    color: var(--light, #fefefe);
}

.fs-12{
    font-size: 0.75rem;
}
.fs-14{
    font-size: 0.875rem;
}