.money{
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 12px;
    background-color: var(--tertiary-color-dark, #654828);
    box-shadow: 
    0 4px 0 #0a2a17,
    0 6px 15px rgba(0,0,0,0.6),
    inset 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    font-size: 24px;
    color: white;
}
.moneyLabel{
    color: #d3bf10;
}