.winner{
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 24px;
    background-color: var(--background);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
      box-shadow: 
    0 4px 0 #0a2a17,
    0 6px 15px rgba(0,0,0,0.6),
    inset 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
}

.bonus{
    font-size: 1.5rem;
    padding: 16px;
    border-radius: 16px;
    background: var(--primary-color);
    color: var(--gold, #feea37);
}

.dinoImg{
    height: 200px;
    object-fit: contain;
}